<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="/static/css/edit.css"/>
    <style>
        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add-modal{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
    </style>
</head>
<body>
    <div class="base">
        <div class="title">
            <h3>任务进度</h3>
        </div>
        <div class="button">
            <input id="add_project" type="button" value="添加新任务" />
        </div>
        <div class="excel">
            <table border="1" cellpadding="4px">
                <thead>
                    <tr>
{#                        <th>序号</th>#}
                        <th>标题</th>
                        <th>策划</th>
                        <th>开发</th>
                        <th>测试</th>
                        <th>测试</th>
                        <th>测试状态</th>
                        <th>备注</th>
{#                        <th>更新时间</th>#}
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in obj %}
                    <tr>
{#                        <td align="center">{{ row.id }}</td>#}
                        <td align="center">{{ row.title }}</td>
                        <td align="center">{{ row.G_designer }}</td>
                        <td align="center">{{ row.G_developer }}</td>
                        <td align="center">{{ row.T_manager1 }}</td>
                        <td align="center">{{ row.T_manager2 }}</td>
                        <td align="center">{{ row.T_process.plan }}</td>
                        <td align="center">{{ row.remarks }}</td>
{#                        <td align="center">{{ row.remarks }}</td>#}
                        <td align="center"><input type="button" value="更新进度" /></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/taskmana/project-1/">返回</a>

    </div>

    <div class="shade hide"></div>
    <div class="add-modal hide">
        <form>
            <div class="main">
                <input class="onlyD" type="text" placeholder="标题" name="d_title"/>
                <input class="onlyD" type="text" placeholder="策划" name="designer"/>
                <input class="onlyD" type="text" placeholder="开发" name="developer"/>
                <input class="onlyD" type="text" placeholder="测试经理" name="manager1"/>
                <input class="onlyD" type="text" placeholder="测试执行" name="manager2"/>
                <input style="display: none" type="text" value="{{ flag }}" name="flag">
            </div>
            <div class="button-2">
                <div class="sb-1">
                    <input type="submit" id="ajax_submit" value="添加"/>
                </div>
                <div class="sb-2">
                    <input id="cancel" type="button" value="取消"/>
                </div>
            </div>
        </form>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function () {

            $('#add_project').click(function () {
                $('.shade,.add-modal').removeClass('hide');
            });

            $('#cancel').click(function () {
                $('.shade,.add-modal').addClass('hide');
            });

            $('#ajax_submit').click(function(){
                $.ajax({
                    url: "/taskmana/detail_ajax/",
                    type: "POST",
                    data: {
                        'd_title': $('#d_title').val(),
                        'designer': $('#designer').val(),
                        'developer': $('#developer').val(),
                        'manager1': $('#manager1').val(),
                        'manager2': $('#manager2').val(),
                        'flag': $('#flag').val()
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload();
                        }else{
                            alert(obj.error);
                        }

                    }
                });
            });

        });
    </script>


</body>
</html>