<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="/static/css/edit.css"/>
    <style>
        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add-modal{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
        .update{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 102;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
    </style>
</head>
<body>
    <div class="base">
        <div class="title">
            <h3>任务编辑</h3>
        </div>
        <div class="button">
            <input id="delete_plan" type="button" value="删除选择项" />
        </div>
        <div class="excel">
            <table border="1" cellpadding="4px">
                <thead>
                    <tr>
{#                        <th>序号</th>#}
                        <th>选择</th>
                        <th>标题</th>
                        <th>策划</th>
                        <th>开发</th>
                        <th>测试</th>
                        <th>测试</th>
{#                        <th>更新时间</th>#}
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in obj %}
                    <tr>
                        <td align="center"><input type="checkbox" value={{ row.id }}/></td>
                        <td align="center" style="display: none">{{ row.id }}</td>
                        <td align="center">{{ row.title }}</td>
                        <td align="center">{{ row.G_designer }}</td>
                        <td align="center">{{ row.G_developer }}</td>
                        <td align="center">{{ row.T_manager1 }}</td>
                        <td align="center">{{ row.T_manager2 }}</td>
{#                        <td align="center">{{ row.remarks }}</td>#}
                        <td align="center"><input type="button" value="编辑" class="edit-button" onclick="edit({{ row.id }})"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="/taskmana/task_detail-{{ flag }}/">返回</a>

    </div>

    <div class="shade hide" id="papa"></div>
    <div class="update hide" id="test">
        <form>
            <div class="main">
{#                <input style="display: none" type="text" id="hid-id" />#}
                <lable>测试状态：</lable>
                <select id="sel">
                    {% for i in process_list %}
                    <option value={{ i.id }}>{{ i.plan }}</option>
                    {% endfor %}
                </select>
                <P>
                    <input class="onlyD" id="d_remarks" type="text" placeholder="备注填写：X个bug，Y个待回归"/>
                </P>
            </div>
        <div class="button-2">
                <div class="sb-1">
                    <input type="button" id="update_submit" value="更新"/>
                </div>
                <div class="sb-2">
                    <input id="cancel_update" type="button" value="取消"/>
                </div>
            </div>
        </form>
    </div>
    <div class="add-modal hide" id="mama">
        <form>
            <div class="main">
                <input style="display: none" type="text" id="hid-id" />
                <input class="onlyD" type="text" placeholder="标题" name="d_title" id="d_title"  />
                <input class="onlyD" type="text" placeholder="策划" name="designer" id="designer"/>
                <input class="onlyD" type="text" placeholder="开发" name="developer" id="developer"/>
                <input class="onlyD" type="text" placeholder="测试经理" name="manager1" id="manager1"/>
                <input class="onlyD" type="text" placeholder="测试执行" name="manager2" id="manager2"/>

            </div>
            <div class="button-2">
                <div class="sb-1">
                    <input type="button" id="edit_submit" value="更新"/>
                </div>
                <div class="sb-2">
                    <input id="cancel" type="button" value="取消"/>
                </div>
            </div>
        </form>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script>
        function edit(nid){
            var temp = document.getElementById('hid-id');
            temp.value = nid;

            $.ajax({
                url: "/taskmana/temp_ajax/",
                type: "POST",
                data: {
                    'flag': nid
                },
                dataType: 'json',
                success: function(data){
                    {#alert(data[0].fields.title)#}
                    document.getElementById('d_title').value = data[0].fields.title;
                    document.getElementById('designer').value = data[0].fields.G_designer;
                    document.getElementById('developer').value = data[0].fields.G_developer;
                    document.getElementById('manager1').value = data[0].fields.T_manager1;
                    document.getElementById('manager2').value = data[0].fields.T_manager2;
                }
            });
            document.getElementById('papa').classList.remove('hide');
            document.getElementById('mama').classList.remove('hide');
        }

        $(function () {

            $('#add_project').click(function () {
                $('.shade,.add-modal').removeClass('hide');
            });

{#            $('.update-button').click(function () {#}
{#                $('.shade,.update').removeClass('hide');#}
{#            });#}

            $('#cancel').click(function () {
                $('.shade,.add-modal').addClass('hide');
            });

            $('#cancel_update').click(function () {
                $('.shade,.update').addClass('hide');
            });

            $('#ajax_submit').click(function(){
                $.ajax({
                    url: "/taskmana/detail_ajax/",
                    type: "POST",
                    data: {
                        'd_title': $('#d_title').val(),
                        'designer': $('#designer').val(),
                        'developer': $('#developer').val(),
                        'manager1': $('#manager1').val(),
                        'manager2': $('#manager2').val(),
                        'flag': $('#flag').val()
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload();
                        }else{
                            alert(obj.error);
                        }

                    }
                });
            });

            $('#update_submit').click(function(){
                $.ajax({
                    url: "/taskmana/update_ajax/",
                    type: "POST",
                    data: {
                        'd_id': $('#hid-id').val(),
                        'd_process': $('#sel').val(),
                        'd_remarks': $('#d_remarks').val(),
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload();
                        }else{
                            alert(obj.error);
                        }

                    }
                });
            });

        });
    </script>


</body>
</html>