<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>detail</title>
    <link rel="stylesheet" href="/static/css/edit.css"/>
    <link rel="stylesheet" href="/static/css/zy.css"/>
    <style>
        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: black;
            opacity: 0.6;
            z-index: 100;
        }
        .add-modal{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 101;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
        .update{
            position: fixed;
            height: 300px;
            width: 400px;
            top: 100px;
            left: 50%;
            z-index: 102;
            border: 1px solid red;
            background: white;
            margin-left: -200px;
        }
        .color{
            background-color: chartreuse;
        }
    </style>
</head>
<body>
    <div class="base">
        <div class="zy0">
            <div class="title">
                <h3>任务进度</h3>
            </div>
            <div class="button">
                <input id="add_project" type="button" value="添加新任务" />
                <a href="/taskmana/task_detail_edit-{{ flag }}">前往编辑</a>
            </div>
            <div class="select">
                <form method="POST">
                    <lable>测试状态：</lable>
                    <select name="sel_b">
                        <option value="0">全部</option>
                        <option value="1">测试未通过</option>
                        <option value="2">测试通过</option>
                    </select>
                    <input type="submit" value="筛选" />
                </form>
            </div>
        </div>
        <div class="excel">
            <table border="1" cellpadding="4px">
                <thead>
                    <tr>
{#                        <th>序号</th>#}
                        <th>标题</th>
                        <th>策划</th>
                        <th>开发</th>
                        <th>测试</th>
                        <th>测试</th>
                        <th>测试状态</th>
                        <th>备注</th>
{#                        <th>更新时间</th>#}
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in obj %}
                    <tr class="" id="c_color">
                        <td align="center" style="display: none">{{ row.id }}</td>
                        <td align="center" style="display: none" class="f_color">{{ row.T_process.id }}</td>
                        <td align="center">{{ row.title }}</td>
                        <td align="center">{{ row.G_designer }}</td>
                        <td align="center">{{ row.G_developer }}</td>
                        <td align="center">{{ row.T_manager1 }}</td>
                        <td align="center">{{ row.T_manager2 }}</td>
                        <td align="center">{{ row.T_process.plan }}</td>
                        <td align="center">{{ row.remarks }}</td>
{#                        <td align="center">{{ row.remarks }}</td>#}
                        <td align="center"><input type="button" value="更新进度" class="update-button" onclick="up({{ row.id }})"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="float: left">
        <a href="/taskmana/project-1/">返回</a>
        </div>
    </div>

    <div class="shade hide" id="papa"></div>
    <div class="update hide" id="test">
        <form>
            <div class="main">
                <input style="display: none" type="text" id="hid-id" />
                <lable>测试状态：</lable>
                <select id="sel">
                    {% for i in process_list %}
                    <option value={{ i.id }}>{{ i.plan }}</option>
                    {% endfor %}
                </select>
                <P>
                    <input class="onlyD" id="d_remarks" type="text" placeholder="备注填写：X个bug，Y个待回归"/>
                </P>
            </div>
        <div class="button-2">
                <div class="sb-1">
                    <input type="button" id="update_submit" value="更新"/>
                </div>
                <div class="sb-2">
                    <input id="cancel_update" type="button" value="取消"/>
                </div>
            </div>
        </form>
    </div>
    <div class="add-modal hide">
        <form>
            <div class="main">
                <input class="onlyD" type="text" placeholder="标题" name="d_title" id="d_title" style="height: 24px;"/>
                <input class="onlyD" type="text" placeholder="策划" name="designer" id="designer" style="height: 24px;"/>
                <input class="onlyD" type="text" placeholder="开发" name="developer" id="developer" style="height: 24px;"/>
                <input class="onlyD" type="text" placeholder="测试经理" name="manager1" id="manager1" style="height: 24px;"/>
                <input class="onlyD" type="text" placeholder="测试执行" name="manager2" id="manager2" style="height: 24px;"/>
                <input style="display: none" type="text" value="{{ flag }}" id="flag">
            </div>
            <div class="button-2">
                <div class="sb-1">
                    <input type="button" id="ajax_submit" value="添加"/>
                </div>
                <div class="sb-2">
                    <input id="cancel" type="button" value="取消"/>
                </div>
            </div>
        </form>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function () {
            var listen = $('.f_color').val();
            if(listen === 5){
                $('#c_color').addClass('color');
            }
        });

        function up(nid){
            var temp = document.getElementById('hid-id');
            temp.value = nid;
            document.getElementById('papa').classList.remove('hide');
            document.getElementById('test').classList.remove('hide');
        }

        $(function () {

            $('#add_project').click(function () {
                $('.shade,.add-modal').removeClass('hide');
            });

{#            $('.update-button').click(function () {#}
{#                $('.shade,.update').removeClass('hide');#}
{#            });#}

            $('#cancel').click(function () {
                $('.shade,.add-modal').addClass('hide');
            });

            $('#cancel_update').click(function () {
                $('.shade,.update').addClass('hide');
            });

            $('#ajax_submit').click(function(){
                $.ajax({
                    url: "/taskmana/detail_ajax/",
                    type: "POST",
                    data: {
                        'd_title': $('#d_title').val(),
                        'designer': $('#designer').val(),
                        'developer': $('#developer').val(),
                        'manager1': $('#manager1').val(),
                        'manager2': $('#manager2').val(),
                        'flag': $('#flag').val()
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload();
                        }else{
                            alert(obj.error);
                        }

                    }
                });
            });

            $('#update_submit').click(function(){
                $.ajax({
                    url: "/taskmana/update_ajax/",
                    type: "POST",
                    data: {
                        'd_id': $('#hid-id').val(),
                        'd_process': $('#sel').val(),
                        'd_remarks': $('#d_remarks').val(),
                    },
                    success: function(data){
                        var obj = JSON.parse(data);
                        if(obj.status){
                            location.reload();
                        }else{
                            alert(obj.error);
                        }

                    }
                });
            });

        });
    </script>


</body>
</html>