<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
<div style="height: 48px; background-color: black; color: white; font-size: 30px;">
    欢迎! {{ user.username }}
</div>
<div>
    <div style="position: absolute; top: 48px; bottom: 0;left: 0; width: 200px; background-color: brown">
        <h3>项目名称<a href="/taskmana/project_edit/">[管理]</a></h3>
        <ul>
            {% for row in prj_list %}
                <li>
                    <a href="#">{{ row.P_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div style="position: absolute; top: 48px; bottom: 0;left: 210px; right: 0; overflow: auto">
        <h3>版本列表 <a href="/taskmana/task_edit/">[管理]</a></h3>
        <ul>
            {% for row in task_list %}
                <li>
                    <a href="#">{{ row.T_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>